In [1]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import BaggingRegressor
from sklearn.decomposition import PCA

In [2]:
train_df = pd.read_csv("csv preparado/train_ready.csv", index_col = 0)
train_df.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    1.12    3      4        2   61.6   59.0  6.67  6.63  4.10   5363
1    1.14    4      1        3   60.0   54.0  6.74  6.97  4.11   5593
2    0.90    4      0        3   60.3   63.0  6.12  6.22  3.72   3534
3    0.71    2      1        4   61.9   54.0  5.74  5.76  3.56   3212
4    0.34    4      2        3   60.0   62.0  4.51  4.55  2.72    447

In [3]:
columnas = [i for i in train_df.columns if i not in ["price"]]
X = train_df[columnas]
y = train_df["price"]

In [56]:
pipeline = [
    Normalizer()
]

transformer = make_pipeline(*pipeline)

X_data = transformer.fit_transform(X)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

## Tercer model: BaggingRegressor

In [80]:
bagging = BaggingRegressor(random_state=0, n_estimators = 1000)

bagging.fit(X, y)

BaggingRegressor(n_estimators=1000, random_state=0)

In [81]:
y_pred = bagging.predict(X_test)

In [82]:
print(f"r2: {round(r2_score(y_pred, y_test),3)}")
print(f"RMSE: {round(sqrt(mean_squared_error(y_pred, y_test)),3)}")

r2: 0.997
RMSE: 203.611

In [83]:
predict_df = pd.read_csv("csv preparado/predict_ready.csv", index_col = 0)
predict_df.head()

    carat  cut  color  clarity  depth  table     x     y     z
id
0    0.33    4      5        1   62.0   58.0  4.44  4.46  2.76
1    1.21    4      0        3   62.4   58.0  6.77  6.83  4.24
2    1.06    4      0        2   59.3   60.0  6.64  6.71  3.96
3    0.36    2      1        6   61.4   57.0  4.64  4.61  2.54
4    0.70    2      1        4   62.3   54.0  5.67  5.72  3.55

In [84]:
"""pipeline2 = [
    StandardScaler(),
    Normalizer()
]

transformer2 = make_pipeline(*pipeline2)

X_data = transformer2.fit_transform(predict_df)
"""

'pipeline2 = [\n    StandardScaler(),\n    Normalizer()\n]\n\ntransformer2 = make_pipeline(*pipeline2)\n\nX_data = transformer2.fit_transform(predict_df)\n'

In [85]:
y_test_pred = bagging.predict(predict_df)

In [86]:
y_test_pred

array([ 808.162, 5935.749, 5813.475, ..., 2517.843, 1271.934, 1073.517])

In [87]:
sol_bagging = pd.DataFrame(y_test_pred, columns=["price"])

In [89]:
sol_bagging.to_csv("resultados/sol_bagging.csv", index_label="id")